  <h3>Create New password</h3>
<form class="form-group reset-password d-flex flex-column gap-3 w-50 mx-auto">
  <input
    class="form-control"
    type="password"
    placeholder="New password"
    id="change-password-current"
    required
  />
  <input type="hidden" id="email" value="<%= email %>" />
  <button class="btn btn-success" type="submit">Reset Password</button>
</form>
