<h4>Signup Page</h4>
<form class="signup-form form-group w-50 mx-auto d-flex flex-column gap-4">
  <input
    type="email"
    class="form-control"
    id="email"
    placeholder="Email"
    required
  />
  <input
    type="password"
    class="form-control"
    id="password"
    placeholder="Password"
    required
  />
  <button type="submit" class="btn btn-primary">Signup</button>
</form>
<a
  href="/auth/google"
  style="
    padding: 1rem;
    background-color: whitesmoke;
    text-decoration: none;
    color: blue;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
    margin-top: 1rem;
    border-radius: 10px;
    font-weight: 500;
    display: inline-block;
  "
  ;
  class="google-link"
  >Login with Google</a
>
<!-- <a href="/auth/google" class="btn btn-success">Login with google</a> -->

<script type="module" src="./js/signup.js"></script>
