<h4>Signin Page</h4>
<form class="signin-form form-group w-50 mx-auto d-flex flex-column gap-4">
  <input
    type="email"
    class="form-control"
    id="email"
    placeholder="Email"
    required
  />
  <input
    type="password"
    class="form-control"
    id="password"
    placeholder="Password"
    required
  />
  <button type="submit" class="btn btn-primary">Signin</button>
</form>
<div class="p-4" style="border-bottom: 3px solid whitesmoke"></div>
<h4 class="text-center mt-3">Forgot Password ?</h4>
<form class="forgot-form form-group w-50 mt-5 mx-auto d-flex flex-column gap-4">
  <input 
    type="email"
    class="form-control forgot-email"
    required
    placeholder="Registered Email"
  />
  <button type="submit" class="btn btn-outline-warning">Forgot Password</button>
</form>

<script type="module" src="./js/signin.js" defer></script>
